/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

// Base document colors
$body-bg: #f0f4f5;
$link-color: #4f7c8d;

/*-- scss:rules --*/

.navbar-brand > img {
  max-height: 40px;
  width: auto;
  padding-right: 6px;
}